.card {
  background-color: #efefef;
  box-sizing: border-box;
  width: 600px;
  margin: 0 auto;

  font-size: 20px;
  padding: 1em 1.25em;

  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px 5px;

    padding: 1rem;
    background-color: #ffffff;

    input {
      outline: none;
      border: none;
      border-style: hidden;
      padding: 0 0;

      font-size: 1em;
    }

    // :global(.card-number) {
    // width: 19em;
    // }

    :global(.expiry-date) {
      width: 7em;
    }

    :global(.cvc) {
      width: 3em;
    }
  }
}
